{% extends 'PlaCoreBundle::layout.html.twig' %}

{% block content %}
<h2>Order Summary</h2>
<table class="table">
<thead>
    <tr>
        <th>produit</th>
        <th>prix</th>
        <th>quantité</th>
        <th><div class="text-right">total</div></th>
    </tr>
</thead>
<tbody>
    {% for item in cart.items %}
    <tr>
        <td>{{ item.product.translation.name }}</td>
        <td>{{ item.product.price }} $</td>
        <td>{{ item.quantity }}</td>
        <td><div class="text-right">{{ additionStrategy.cartItemTotal(item)|number_format(2) }} $</div></td>
    </tr>
    {% endfor %}
    <tr>
        <td style="background: #f9f9f9;" colspan=2></td>
        <td style="background: #f9f9f9;">Subtotal :</td>
        <td style="background: #f9f9f9;"><div class="text-right">{{ additionStrategy.cartSubtotal(cart)|number_format(2) }} $</div></td>
    </tr>
    <tr>
        <td style="background: #f9f9f9;" colspan=2></td>
        <td style="background: #f9f9f9;">TPS :</td>
        <td style="background: #f9f9f9;"><div class="text-right">{{ additionStrategy.gstTotal(cart)|number_format(2) }} $</div></td>
    </tr>
    <tr>
        <td style="background: #f9f9f9;" colspan=2></td>
        <td style="background: #f9f9f9;">TVQ :</td>
        <td style="background: #f9f9f9;"><div class="text-right">{{ additionStrategy.pstTotal(cart)|number_format(2) }} $</div></td>
    </tr>
    <tr>
        <td style="background: #f9f9f9;" colspan=2></td>
        <td style="background: #f9f9f9;">Total :</td>
        <td style="background: #f9f9f9;"><div class="text-right">{{ additionStrategy.cartTotal(cart)|number_format(2) }} $</div></td>
    </tr>
</tbody>
</table>
<div class="row">
    <div class="span4">
        <h2>Addresses</h2>
        <div class="well well-small" style="padding-top: 0;padding-bottom: 0;">
            <a class="pull-right" style="margin: 10px 0;" href="#"><i style="margin: 0;" class="icon-pencil"></i></a>
            <h4>Shipping</h4>
            <p>
                Alexis Joubert
                <br>
                alexisjoubert@groupemsi.com
                <br>
                514 826-5695 #101
            </p>
            <p>
                5803, rue Sherbrooke Est
                <br>
                Montréal (Québec) H1N 1N7
            </p>
        </div>
        <div class="well well-small" style="padding-top: 0;padding-bottom: 0;">
            <a class="pull-right" style="margin: 10px 0;" href="#"><i style="margin: 0;" class="icon-pencil"></i></a>
            <h4>Billing</h4>
            <p>
                Alexis Joubert
                <br>
                alexisjoubert@groupemsi.com
                <br>
                514 826-5695 #101
            </p>
            <p>
                5803, rue Sherbrooke Est
                <br>
                Montréal (Québec) H1N 1N7
            </p>
        </div>
    </div>
    <div class="span8">
        <h2>Payment Information</h2>
        // form de paiement
    </div>
</div>
{% endblock %}
